<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>問題一覧 - Online Problems</title>
</head>
<body>
    <header>
        <h2>Online Problems</h2>
    </header>
    <main>
        <div class="container">
            <h1>問題一覧</h1>
            <button onclick="location.href='/problems/a'" >
                <h2>A - The First Problem</h2>
                <p>Level: ★☆☆☆☆</p>
            </button>
            <button onclick="location.href='/problems/b'" >
                <h2>B - 1 + 2 + ... + 100</h2>
                <p>Level: ★★☆☆☆</p>
            </button>
        </div>
    </main>
</body>
</html>